<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.knime.ext.textprocessing.TokenizerFactory">
      	<TokenizerFactory
            TokenizerFactory="org.knime.ext.textprocessing.language.turkish.nodes.tokenization.tokenizer.word.ZemberekTurkishTokenizerFactory">
      	</TokenizerFactory>
   </extension>
</plugin>
