<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      
      
      <node
            category-path="/labs/textprocessing/tagging"
            expert-flag="false"
            factory-class="org.knime.ext.textprocessing.stanfordtagger.StanfordPosTaggerNodeFactory"
            id="org.knime.ext.textprocessing.stanfordtagger.StanfordPosTaggerNodeFactory">
      </node>
   </extension>

</plugin>
