<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.2"?><plugin>
          
       
    <extension point="org.knime.workbench.repository.nodes">
              
        <node category-path="/applications/textprocessing/misc" factory-class="org.knime.ext.textprocessing.nodes.misc.tikalangdetector.TikaLangDetectorNodeFactory">
      </node>
              
        <node category-path="/applications/textprocessing/misc" factory-class="org.knime.ext.textprocessing.nodes.misc.tikaparserinput.TikaParserInputNodeFactory">
      </node>
              
        <node category-path="/applications/textprocessing/io" factory-class="org.knime.ext.textprocessing.nodes.source.parser.tika.TikaParserNodeFactory">
      </node>
      
    </extension>
       
       
       
       
       
    
</plugin>
