<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.ext.textprocessing.StanfordTaggerModel">
      <StanfordTaggerModel
            StanfordTaggerModel="org.knime.ext.textprocessing.language.spanish.nodes.tagging.stanfordnlpnetagger.nermodels.SpanishAncoraDistsimModel"
            name="org.knime.ext.textprocessing.language.spanish.nodes.tagging.stanfordnlpnetagger.nermodels.SpanishAncoraDistsimModel"
            type="Named Entity Recognition">
      </StanfordTaggerModel>
      <StanfordTaggerModel
            StanfordTaggerModel="org.knime.ext.textprocessing.language.spanish.nodes.tagging.stanford.posmodels.SpanishModel"
            name="org.knime.ext.textprocessing.language.spanish.nodes.tagging.stanford.posmodels.SpanishModel"
            type="Part-Of-Speech">
      </StanfordTaggerModel>
      <StanfordTaggerModel
            StanfordTaggerModel="org.knime.ext.textprocessing.language.spanish.nodes.tagging.stanford.posmodels.SpanishDistsimModel"
            name="org.knime.ext.textprocessing.language.spanish.nodes.tagging.stanford.posmodels.SpanishDistsimModel"
            type="Part-Of-Speech">
      </StanfordTaggerModel>
   </extension>
   <extension
         point="org.knime.ext.textprocessing.TokenizerFactory">
      <TokenizerFactory
            TokenizerFactory="org.knime.ext.textprocessing.language.spanish.nodes.tokenization.tokenizer.word.StanfordNlpSpanishTokenizerFactory">
      </TokenizerFactory>
   </extension>

</plugin>
