<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/labs/deeplearning/dl4j/embeddings"
            deprecated="false"
            factory-class="org.knime.ext.textprocessing.dl4j.nodes.embeddings.learn.w2v.Word2VecLearnerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/dl4j/embeddings"
            deprecated="false"
            factory-class="org.knime.ext.textprocessing.dl4j.nodes.embeddings.learn.d2v.Doc2VecLearnerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/dl4j/embeddings/io"
            deprecated="true"
            factory-class="org.knime.ext.textprocessing.dl4j.nodes.embeddings.io.writer.WordVectorModelWriterNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/dl4j/embeddings/io"
            deprecated="true"
            factory-class="org.knime.ext.textprocessing.dl4j.nodes.embeddings.io.reader.WordVectorModelReaderNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/dl4j/embeddings"
            deprecated="false"
            factory-class="org.knime.ext.textprocessing.dl4j.nodes.embeddings.apply.WordVectorApplyNodeFactory2">
      </node>
      <node
            category-path="/labs/deeplearning/dl4j/embeddings"
            deprecated="false"
            factory-class="org.knime.ext.textprocessing.dl4j.nodes.embeddings.extract.VocabularyExtractorNodeFactory2">
      </node>
      <node
            category-path="/labs/deeplearning/dl4j/embeddings"
            deprecated="true"
            factory-class="org.knime.ext.textprocessing.dl4j.nodes.embeddings.apply.WordVectorApplyNodeFactory">
      </node>
      
      <!-- Deprecated nodes -->
      <node
            category-path="/labs/deeplearning/dl4j/embeddings"
            deprecated="true"
            factory-class="org.knime.ext.textprocessing.dl4j.nodes.embeddings.extract.VocabularyExtractorNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/dl4j/embeddings"
            deprecated="true"
            factory-class="org.knime.ext.textprocessing.dl4j.nodes.embeddings.learn.WordVectorLearnerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/dl4j/embeddings/io"
            deprecated="false"
            factory-class="org.knime.ext.textprocessing.dl4j.nodes.embeddings.io.filehandling.wordVector.reader.WordVectorModelReader2NodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/dl4j/embeddings/io"
            deprecated="false"
            factory-class="org.knime.ext.textprocessing.dl4j.nodes.embeddings.io.filehandling.wordVector.writer.WordVectorModelWriter2NodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            hidden="true"
            name="Word Vector Model (deprecated)"
            objectClass="org.knime.ext.textprocessing.dl4j.nodes.embeddings.WordVectorPortObject"
            objectSerializer="org.knime.ext.textprocessing.dl4j.nodes.embeddings.WordVectorPortObject$Serializer"
            specClass="org.knime.ext.textprocessing.dl4j.nodes.embeddings.WordVectorPortObjectSpec"
            specSerializer="org.knime.ext.textprocessing.dl4j.nodes.embeddings.WordVectorPortObjectSpec$Serializer">
      </portType>
      <portType
            hidden="false"
            name="Word Vector Model"
            objectClass="org.knime.ext.textprocessing.dl4j.nodes.embeddings.WordVectorFileStorePortObject"
            objectSerializer="org.knime.ext.textprocessing.dl4j.nodes.embeddings.WordVectorFileStorePortObject$Serializer"
            specClass="org.knime.ext.textprocessing.dl4j.nodes.embeddings.WordVectorPortObjectSpec"
            specSerializer="org.knime.ext.textprocessing.dl4j.nodes.embeddings.WordVectorPortObjectSpec$Serializer">
      </portType>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="res/icons/missing.gif"
            level-id="embeddings"
            locked="true"
            name="Word Embeddings"
            path="/labs/deeplearning/dl4j/">
      </category>
      <category
            icon="res/icons/missing.gif"
            level-id="io"
            locked="true"
            name="I/O"
            path="/labs/deeplearning/dl4j/embeddings/">
      </category>
   </extension>
   <extension
         point="org.knime.ext.dl4j.base.DL4JConverter">
      <DL4JConverter
            converterClass="org.knime.ext.textprocessing.dl4j.data.convert.DocumentValueToStringConverter">
      </DL4JConverter>
   </extension>

</plugin>
