<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Textprocessing nodes"
            icon="icons/missing.gif"
            level-id="textprocessing"
            name="Textprocessing"
            path="/">
      </category>
      <category
            description="Textprocessing IO nodes"
            icon="icons/io.png"
            level-id="io"
            name="IO"
            path="/textprocessing">
      </category>
      <category
            description="Tagger nodes (POS, NER)"
            icon="icons/missing.gif"
            level-id="tagging"
            name="Tagging"
            path="/textprocessing">
      </category>
      <category
            description="Transformation nodes"
            icon="icons/missing.gif"
            level-id="transformation"
            name="Transformation"
            path="/textprocessing">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="preprocessing"
            name="Preprocessing"
            path="/textprocessing">
      </category>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/textprocessing/io"
            factory-class="org.knime.ext.textprocessing.nodes.source.parser.dml.DmlDocumentParserNodeFactory"
            id="org.knime.ext.textprocessing.nodes.source.parser.dml.DmlDocumentParserNodeFactory">
      </node>
      <node
            category-path="/textprocessing/io"
            factory-class="org.knime.ext.textprocessing.nodes.source.parser.sdml.SdmlDocumentParserNodeFactory"
            id="org.knime.ext.textprocessing.nodes.source.parser.sdml.SdmlDocumentParserNodeFactory">
      </node>
      <node
            category-path="/textprocessing/io"
            factory-class="org.knime.ext.textprocessing.nodes.source.parser.pubmed.PubMedDocumentParserNodefactory"
            id="org.knime.ext.textprocessing.nodes.source.parser.pubmed.PubMedDocumentParserNodefactory">
      </node>
      <node
            category-path="/textprocessing/io"
            factory-class="org.knime.ext.textprocessing.nodes.source.parser.flatfile.FlatFileDocumentParserNodeFactory"
            id="org.knime.ext.textprocessing.nodes.source.parser.flatfile.FlatFileDocumentParserNodeFactory">
      </node>
      <node
            category-path="/textprocessing/tagging"
            factory-class="org.knime.ext.textprocessing.nodes.tagging.pos.PosTaggerNodeFactory"
            id="org.knime.ext.textprocessing.nodes.tagging.pos.PosTaggerNodeFactory">
      </node>
      <node
            category-path="/textprocessing/tagging"
            factory-class="org.knime.ext.textprocessing.nodes.tagging.ner.AbnerTaggerNodeFactory"
            id="org.knime.ext.textprocessing.nodes.tagging.ner.AbnerTaggerNodeFactory">
      </node>
      <node
            category-path="/textprocessing/transformation"
            factory-class="org.knime.ext.textprocessing.nodes.transformation.bow.BagOfWordsNodeFactory"
            id="org.knime.ext.textprocessing.nodes.transformation.bow.BagOfWordsNodeFactory">
      </node>
      <node
            category-path="/textprocessing/preprocessing"
            factory-class="org.knime.ext.textprocessing.nodes.preprocessing.porterstemmer.PorterStemmerNodeFactory"
            id="org.knime.ext.textprocessing.nodes.preprocessing.porterstemmer.PorterStemmerNodeFactory">
      </node>
      <node
            category-path="/textprocessing/preprocessing"
            factory-class="org.knime.ext.textprocessing.nodes.preprocessing.kuhlenstemmer.KuhlenStemmerNodeFactory"
            id="org.knime.ext.textprocessing.nodes.preprocessing.kuhlenstemmer.KuhlenStemmerNodeFactory">
      </node>
      <node
            category-path="/textprocessing/preprocessing"
            factory-class="org.knime.ext.textprocessing.nodes.preprocessing.caseconverter.CaseConverterNodeFactory"
            id="org.knime.ext.textprocessing.nodes.preprocessing.caseconverter.CaseConverterNodeFactory">
      </node>
      <node
            category-path="/textprocessing/preprocessing"
            factory-class="org.knime.ext.textprocessing.nodes.preprocessing.puncterasure.PunctuationErasureNodeFactory"
            id="org.knime.ext.textprocessing.nodes.preprocessing.puncterasure.PunctuationErasureNodeFactory">
      </node>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
   </extension>
   
</plugin>
