<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            after="misc"
            description="Nodes provided on labs.knime.org"
            icon="resources/labs.png"
            level-id="labs"
            name="KNIME Labs"
            path="/">
      </category>      
      <category
            description="Textprocessing nodes"
            icon="resources/missing.gif"
            level-id="textprocessing"
            name="Textprocessing"
            path="/labs">
      </category>
      <category
            description="Textprocessing IO nodes"
            icon="resources/missing.gif"
            level-id="io"
            name="IO"
            path="/labs/textprocessing">
      </category>
      <category
            after="io"
            description="Tagger nodes (POS, NER)"
            icon="resources/missing.gif"
            level-id="tagging"
            name="Enrichment"
            path="/labs/textprocessing">
      </category>
      <category
            after="tagging"
            description="Transformation nodes"
            icon="resources/missing.gif"
            level-id="transformation"
            name="Transformation"
            path="/labs/textprocessing">
      </category>
      <category
            after="transformation"
            icon="resources/missing.gif"
            level-id="preprocessing"
            name="Preprocessing"
            path="/labs/textprocessing">
      </category>
      <category
            after="preprocessing"
            description="Contains nodes that compute several kinds of frequencies"
            icon="resources/missing.gif"
            level-id="frequencies"
            name="Frequencies"
            path="/labs/textprocessing">
      </category>
      <category
            after="frequencies"
            description="Contains misc nodes of the textprocessing plugin"
            icon="resources/missing.gif"
            level-id="misc"
            name="Misc"
            path="/labs/textprocessing">
      </category>
      <category
            after="misc"
            description="Contains textprocessing meta nodes"
            icon="resources/missing.gif"
            level-id="meta"
            name="Meta"
            path="/labs/textprocessing">
      </category>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/labs/textprocessing/io"
            factory-class="org.knime.ext.textprocessing.nodes.source.parser.dml.DmlDocumentParserNodeFactory"
            id="org.knime.ext.textprocessing.nodes.source.parser.dml.DmlDocumentParserNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/io"
            factory-class="org.knime.ext.textprocessing.nodes.source.parser.sdml.SdmlDocumentParserNodeFactory"
            id="org.knime.ext.textprocessing.nodes.source.parser.sdml.SdmlDocumentParserNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/io"
            factory-class="org.knime.ext.textprocessing.nodes.source.parser.pubmed.PubMedDocumentParserNodeFactory"
            id="org.knime.ext.textprocessing.nodes.source.parser.pubmed.PubMedDocumentParserNodefactory">
      </node>
      <node
            category-path="/labs/textprocessing/io"
            factory-class="org.knime.ext.textprocessing.nodes.source.parser.flatfile.FlatFileDocumentParserNodeFactory"
            id="org.knime.ext.textprocessing.nodes.source.parser.flatfile.FlatFileDocumentParserNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/tagging"
            factory-class="org.knime.ext.textprocessing.nodes.tagging.pos.PosTaggerNodeFactory"
            id="org.knime.ext.textprocessing.nodes.tagging.pos.PosTaggerNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/tagging"
            factory-class="org.knime.ext.textprocessing.nodes.tagging.abner.AbnerTaggerNodeFactory"
            id="org.knime.ext.textprocessing.nodes.tagging.abner.AbnerTaggerNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/transformation"
            factory-class="org.knime.ext.textprocessing.nodes.transformation.bow.BagOfWordsNodeFactory"
            id="org.knime.ext.textprocessing.nodes.transformation.bow.BagOfWordsNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/preprocessing"
            factory-class="org.knime.ext.textprocessing.nodes.preprocessing.porterstemmer.PorterStemmerNodeFactory"
            id="org.knime.ext.textprocessing.nodes.preprocessing.porterstemmer.PorterStemmerNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/preprocessing"
            factory-class="org.knime.ext.textprocessing.nodes.preprocessing.kuhlenstemmer.KuhlenStemmerNodeFactory"
            id="org.knime.ext.textprocessing.nodes.preprocessing.kuhlenstemmer.KuhlenStemmerNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/preprocessing"
            factory-class="org.knime.ext.textprocessing.nodes.preprocessing.caseconverter.CaseConverterNodeFactory"
            id="org.knime.ext.textprocessing.nodes.preprocessing.caseconverter.CaseConverterNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/preprocessing"
            factory-class="org.knime.ext.textprocessing.nodes.preprocessing.puncterasure.PunctuationErasureNodeFactory"
            id="org.knime.ext.textprocessing.nodes.preprocessing.puncterasure.PunctuationErasureNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/preprocessing"
            factory-class="org.knime.ext.textprocessing.nodes.preprocessing.ncharsfilter.NCharsFilterNodeFactory"
            id="org.knime.ext.textprocessing.nodes.preprocessing.ncharsfilter.NCharsFilterNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/preprocessing"
            factory-class="org.knime.ext.textprocessing.nodes.preprocessing.numberfilter.NumberFilterNodeFactory"
            id="org.knime.ext.textprocessing.nodes.preprocessing.numberfilter.NumberFilterNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/preprocessing"
            factory-class="org.knime.ext.textprocessing.nodes.preprocessing.stopwordfilter.StopwordFilterNodeFactory"
            id="org.knime.ext.textprocessing.nodes.preprocessing.stopwordfilter.StopwordFilterNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/frequencies"
            factory-class="org.knime.ext.textprocessing.nodes.frequencies.tf.TfNodeFactory"
            id="org.knime.ext.textprocessing.nodes.frequencies.tf.TfNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/frequencies"
            factory-class="org.knime.ext.textprocessing.nodes.frequencies.idf.IdfNodeFactory"
            id="org.knime.ext.textprocessing.nodes.frequencies.idf.IdfNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/frequencies"
            factory-class="org.knime.ext.textprocessing.nodes.frequencies.filter.FilterNodeFactory"
            id="org.knime.ext.textprocessing.nodes.frequencies.filter.FilterNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/preprocessing"
            factory-class="org.knime.ext.textprocessing.nodes.preprocessing.tagfilter.pos.PosTagFilterNodeFactory"
            id="org.knime.ext.textprocessing.nodes.preprocessing.tagfilter.pos.PosTagFilterNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/preprocessing"
            factory-class="org.knime.ext.textprocessing.nodes.preprocessing.tagfilter.abner.AbnerTagFilterNodeFactory"
            id="org.knime.ext.textprocessing.nodes.preprocessing.tagfilter.abner.AbnerTagFilterNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/preprocessing"
            factory-class="org.knime.ext.textprocessing.nodes.preprocessing.nefilter.NamedEntityFilterNodeFactory"
            id="org.knime.ext.textprocessing.nodes.preprocessing.nefilter.NamedEntityFilterNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/preprocessing"
            factory-class="org.knime.ext.textprocessing.nodes.preprocessing.tagfilter.ne.NamedEntityFilterNodeFactory"
            id="org.knime.ext.textprocessing.nodes.preprocessing.tagfilter.ne.NamedEntityFilterNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/tagging"
            factory-class="org.knime.ext.textprocessing.nodes.tagging.dict.DictionaryTaggerNodeFactory"
            id="org.knime.ext.textprocessing.nodes.tagging.dict.DictionaryTaggerNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/transformation"
            factory-class="org.knime.ext.textprocessing.nodes.transformation.documentvector.DocumentVectorNodeFactory"
            id="org.knime.ext.textprocessing.nodes.transformation.documentvector.DocumentVectorNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/misc"
            factory-class="org.knime.ext.textprocessing.nodes.misc.categorytoclass.CategoryToClassNodeFactory"
            id="org.knime.ext.textprocessing.nodes.misc.categorytoclass.CategoryToClassNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/transformation"
            factory-class="org.knime.ext.textprocessing.nodes.transformation.termtostring.TermToStringNodeFactory"
            id="org.knime.ext.textprocessing.nodes.transformation.termtostring.TermToStringNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/transformation"
            factory-class="org.knime.ext.textprocessing.nodes.transformation.stringstodocument.StringsToDocumentNodeFactory"
            id="org.knime.ext.textprocessing.nodes.transformation.stringstodocument.StringsToDocumentNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/misc"
            factory-class="org.knime.ext.textprocessing.nodes.view.documentviewer.DocumentViewerNodeFactory"
            id="org.knime.ext.textprocessing.nodes.view.documentviewer.DocumentViewerNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/transformation"
            factory-class="org.knime.ext.textprocessing.nodes.transformation.termvector.TermVectorNodeFactory"
            id="org.knime.ext.textprocessing.nodes.transformation.termvector.TermVectorNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/misc"
            factory-class="org.knime.ext.textprocessing.nodes.misc.keywordextractor.chisquare.KeywordExtractorNodeFactory"
            id="org.knime.ext.textprocessing.nodes.misc.keywordextractor.chisquare.KeywordExtractorNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/misc"
            factory-class="org.knime.ext.textprocessing.nodes.misc.keywordextractor.keygraph.KeygraphNodeFactory"
            id="org.knime.ext.textprocessing.nodes.misc.keywordextractor.keygraph.KeygraphNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/io"
            expert-flag="false"
            factory-class="org.knime.ext.textprocessing.nodes.source.grabber.DocumentGrabberNodeFactory"
            id="org.knime.ext.textprocessing.nodes.source.grabber.DocumentGrabberNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/transformation"
            expert-flag="false"
            factory-class="org.knime.ext.textprocessing.nodes.transformation.stringtoterm.StringToTermNodeFactory"
            id="org.knime.ext.textprocessing.nodes.transformation.stringtoterm.TermToStringNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/preprocessing"
            expert-flag="false"
            factory-class="org.knime.ext.textprocessing.nodes.preprocessing.replacer.RegExReplacerNodeFactory"
            id="org.knime.ext.textprocessing.nodes.preprocessing.replacer.RegExReplacerNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/transformation"
            expert-flag="false"
            factory-class="org.knime.ext.textprocessing.nodes.transformation.tagtoString.TagToStringNodeFactory"
            id="org.knime.ext.textprocessing.nodes.transformation.tagtoString.TagToStringNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/misc"
            expert-flag="false"
            factory-class="org.knime.ext.textprocessing.nodes.view.tagcloud.TagCloudNodeFactory"
            id="org.knime.ext.textprocessing.nodes.view.tagcloud.TagCloudNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/transformation"
            expert-flag="false"
            factory-class="org.knime.ext.textprocessing.nodes.transformation.documenttostring.DocumentDataExtractorNodeFactory"
            id="org.knime.ext.textprocessing.nodes.transformation.documenttostring.DocumentDataExtractorNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/transformation"
            expert-flag="false"
            factory-class="org.knime.ext.textprocessing.nodes.transformation.sentenceextraction.SentenceExtractionNodeFactory"
            id="org.knime.ext.textprocessing.nodes.transformation.sentenceextraction.SentenceStatisticsNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/preprocessing"
            expert-flag="false"
            factory-class="org.knime.ext.textprocessing.nodes.preprocessing.dictreplacer.DictionaryReplacerNodeFactory"
            id="org.knime.ext.textprocessing.nodes.preprocessing.dictreplacer.DictionaryReplacerNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/preprocessing"
            expert-flag="false"
            factory-class="org.knime.ext.textprocessing.nodes.preprocessing.termgrouper.TermGrouperNodeFactory"
            id="org.knime.ext.textprocessing.nodes.preprocessing.termgrouper.TermGrouperNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/preprocessing"
            expert-flag="false"
            factory-class="org.knime.ext.textprocessing.nodes.preprocessing.snowballstemmer.SnowballStemmerNodeFactory"
            id="org.knime.ext.textprocessing.nodes.preprocessing.snowballstemmer.SnowballStemmerNodeFactory">
      </node>
      <node
            category-path="/labs/textprocessing/tagging"
            expert-flag="false"
            factory-class="org.knime.ext.textprocessing.nodes.tagging.opennlpner.OpennlpNerTaggerNodeFactory"
            id="org.knime.ext.textprocessing.nodes.tagging.opennlpner.OpennlpNerTaggerNodeFactory">
      </node>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.knime.ext.textprocessing.preferences.TextprocessingPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.ext.textprocessing.preferences.TextprocessingPreferencePage"
            id="org.knime.ext.textprocessing.preferences.TextprocessingPreferencePage"
            name="Textprocessing">
      </page>
   </extension>
   <extension
         point="org.knime.workbench.repository.metanode">
      <PersistedMetaNode
            after="cross_validation"
            category-path="/labs/textprocessing/meta"
            expert-flag="false"
            icon="src/org/knime/ext/textprocessing/icons/TextProcDefault.png"
            id="simple_preprocessing"
            name="Simple Preprocessing"
            workflowDir="metanode_templates/Simple Preprocessing/">
      </PersistedMetaNode>
      <PersistedMetaNode
            after="simple_preprocessing"
            category-path="/labs/textprocessing/meta"
            expert-flag="false"
            icon="src/org/knime/ext/textprocessing/icons/TextProcDefault.png"
            id="extended_ner_preprocessing"
            name="Extended NER Preprocessing"
            workflowDir="metanode_templates/Extended NER Preprocessing/">
      </PersistedMetaNode>
      <PersistedMetaNode
            after="extended_ner_preprocessing"
            category-path="/labs/textprocessing/meta"
            expert-flag="false"
            icon="src/org/knime/ext/textprocessing/icons/TextProcFrequencies.png"
            id="frequencies"
            name="Frequencies"
            workflowDir="metanode_templates/Frequencies/">
      </PersistedMetaNode>
      <PersistedMetaNode
            after="frequencies"
            category-path="/labs/textprocessing/meta"
            expert-flag="false"
            icon="src/org/knime/ext/textprocessing/icons/TextProcVectors.png"
            id="vector_creation"
            name="Vector Creation"
            workflowDir="metanode_templates/Vector Creation/">
      </PersistedMetaNode>
   </extension>
   
</plugin>
